.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0BACCC; /* İstediğiniz mavi rengi buraya ekleyin */
    border-radius: 5px;

}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Scrollbar arka plan rengi */
}